@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Orienta&display=swap");
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orienta", sans-serif;
  padding: 10px;
  font-size: 1.2rem;
  min-height: 100%;
  transition: 0.3s ease all;
}

html {
  height: 100%;
}

h4,
p {
  padding: 0;
  margin: 0;
}

a {
  padding: 5px;
  text-decoration: none;
  color: rgb(126, 126, 128);
}

.dark {
  background: #282f46;
  color: #c8c8c8c8;
}

.main__text,
.sidebar__text,
.footer__text {
  color: rgb(126, 126, 128);
}

.buttom {
  margin: 1rem;
}

.btn_git {
  border: none;
  min-width: 150px;
  height: 70px;
  padding: 5px 30px;
  background: #000;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
  align-items: center;
  background: rgb(126, 126, 128);
  transition: 0.3s ease all;
}

.btn_git:hover {
  background-color: #555557;
}

.container > * {
  border-radius: 4px;
  padding: 10px;
}

.container {
  display: grid;
  gap: 10px;
  grid-template: "header" auto "main" auto "sidebar" auto "footer" auto;
  text-align: center;
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main__border {
  height: 10px;
  width: 100%;
  border-bottom: 5px solid rgb(126, 126, 128);
}

@media (min-width: 600px) {
  .container {
    grid-template:
      "header header" auto
      "main sidebar" auto
      "footer footer" auto;
  }
}

@media (min-width: 900px) {
  body {
    margin: 0 20rem 20rem;
  }

  .container {
    text-align: left;
    grid-template:
      "header header " auto
      "main sidebar" auto
      "footer footer" auto;
  }

  .footer {
    text-align: center;
  }

  .btnNocturne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .switch {
    width: 70px;
    height: 30px;
  }

  .btnContainer {
    margin-top: 35px;
  }
}
