@import url("https://fonts.googleapis.com/css2?family=Capriola&family=Orienta&display=swap");
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orienta", sans-serif;
  padding: 10px;
  line-height: 1.8rem;
  font-size: 1.2rem;
  min-height: 100%;
  transition: 0.3s ease all;
}

html {
  height: 100%;
}

h4,
p {
  padding: 0;
  margin: 0;
}

a {
  padding: 5px;
  text-decoration: none;
  color: rgb(126, 126, 128);
}

.dark {
  background: #282f46;
  color: #c8c8c8c8;
}

.main__text,
.sidebar__text,
.footer__text {
  color: rgb(126, 126, 128);
}

.buttom {
  margin: 1rem;
}

.btn_git {
  border: none;
  min-width: 150px;
  height: 70px;
  padding: 5px 30px;
  background: #000;
  color: #ffffff;
  border-radius: 100px;
  text-decoration: none;
  align-items: center;
  background: rgb(126, 126, 128);
  transition: 0.3s ease all;
}

.btn_git:hover {
  background-color: #555557;
}

.wrapper {
  max-width: 1200px;
  display: grid;
  gap: 10px;
  grid-template: "header" auto "main" auto "sidebar" auto "footer" auto;
  text-align: left;
}

.header {
  grid-area: header;
}

.navbar {
  grid-area: navbar;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main__border {
  height: 10px;
  width: 100%;
  border-bottom: 5px solid rgb(126, 126, 128);
}

/* Dark Mode */

.switch {
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

@media (min-width: 600px) {
  .wrapper {
    grid-template:
      "header header" auto
      "main sidebar" auto
      "footer footer" auto;
  }
  .btnNocturne {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 0 20rem 20rem;
  }

  .container {
    text-align: left;
    grid-template:
      "header header " auto
      "main sidebar" auto
      "footer footer" auto;
  }

  .footer {
    text-align: center;
  }

  .btnNocturne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .switch {
    width: 70px;
    height: 30px;
  }

  .btnContainer {
    margin-top: 35px;
  }
}
